body {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	font-family: 'Arial', sans-serif;
	font-family: 'Roboto', sans-serif;
}

input {
	margin: 5% 0;
	display: block;
}

#addEquation {
	width: 90%;
	margin-bottom: 5%;
}

#settings {
	display: flex;
	text-align: left;
}

#settings div {
	flex: 1;
}

#settings div div {
	flex: 0;
	margin-bottom: 5%;
	background-color: lightgray;
}

#settings div div select {
	display: block;
}

#accuracy {
	direction: rtl;
}